<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Selector de Participantes</title>
</head>
<body>

  <h1>Selector de Participantes</h1>

  <form id="formParticipante">
    <label for="nombre">Nombre del participante:</label>
    <input type="text" id="nombre" placeholder="Ingrese un nombre" required>
    <button type="button" onclick="seleccionarParticipante()">Seleccionar Participante</button>
  </form>

  <h2>Lista de Nombres</h2>
  <ul id="listaNombres">
    {% for participante in participantes %}
      <li>{{ participante }}</li>
    {% endfor %}
  </ul>

  <script>
    function seleccionarParticipante() {
      const nombreParticipante = document.getElementById('nombre').value.trim();

      fetch('/seleccionar_participante', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: new URLSearchParams({ 'nombre': nombreParticipante }),
      })
      .then(response => response.json())
      .then(data => {
        alert(`El participante seleccionado es: ${data.nombre_participante} - ${data.participante_seleccionado}`);
        document.getElementById('nombre').value = '';
        location.reload();
      })
      .catch(error => console.error('Error:', error));
    }
  </script>

</body>
</html>

